# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://fykhrbfbhecytqetyudk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
DATABASE_URL=postgresql://postgres:*kB%.2ANtPf?HZ8@db.fykhrbfbhecytqetyudk.supabase.co:5432/postgres

# App URL
NEXT_PUBLIC_APP_URL=https://mtbhub.vercel.app
